.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}
.content {
  position: relative;
  background-color: white;
  padding: 20px;
  overflow: hidden;
  border-radius: 5px;
}
.content h1 {
  font-size: 2rem;
}
.closeBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 999;
}

@media screen and (min-width: 768px) {
  .content {
    min-width: 720px;
  }
  .closeBtn {
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .content {
    min-width: 952px;
  }
  .closeBtn {
    font-size: 36px;
  }
}
